.app-head {
  padding: 0 auto;
  margin: 0 auto;
}

.main-app {
  background-color: rgb(255, 181, 43);
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: left, right;
  align-items: center;
}

.logo-image {
  height: 70px;
}

.info {
  color: white;
  padding: 1%;
  margin-right: 15px;
  font-family: 'Sarabun', sans-serif;
  text-decoration: none;
  display: inline-block;
}

.main-info-page {
  
}

.main-info div {
  padding: 0;
  text-align: center;
  color: black;
  font-size: 13.5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.main-info h5 {
  padding: 0;
  text-align: center;
  color: black;
  font-size: 14.5px;
  display: grid;
  row-gap: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

}

.main-info img {
  padding: 20px;
  border-radius: 50%;
}

.font-info {
  padding: 20px;
  font-family: 'Prompt', sans-serif;
  font-family: 'Sarabun', sans-serif;
  font-size: large;
}
